In [ ]:
#Tuples
#A tuple in Python is similar to a list. The difference between the two is that we cannot change the 
#elements of a tuple once it is assigned whereas we can change the elements of a list.
#In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

#Characterstics

#· Ordered
#· Unchangeble
#· Allows duplicate

In [2]:
#Creating a tuple
t=()
print(type(t))

<class 'tuple'>

In [5]:
#Creating a single element tuple
t=(2)
print(type(t))

t=(2,)   #We have to do , in order to make it a tuple
print(type(t))

<class 'int'>
<class 'tuple'>

In [8]:
#Homogenous Tuple 
t=(1,5,2,9,7,2,1)
print(t)
#Hetrogenous Tuple
t1=(2,"Hello",47,23.5,True)
print(t1)

(1, 5, 2, 9, 7, 2, 1)
(2, 'Hello', 47, 23.5, True)

In [13]:
#2D tuple
t=(1,8,2,(5,7))
print(t)
#3D tuple
t=(1,8,2,(4.7,("OpenAI","Ice"),True))
print(t)

(1, 8, 2, (5, 7))
(1, 8, 2, (4.7, ('OpenAI', 'Ice'), True))

In [15]:
#Type conversion
L=["Hello moto","Rocket"]
print(type(L))
a=tuple(L)
print(a)
print(type(a))

<class 'list'>
('Hello moto', 'Rocket')
<class 'tuple'>

In [21]:
#Accessing the items in tuples
#Indexing

t=(1,8,2,(4.7,("OpenAI","Ice"),True))
#Printing the OpenAI
print(t[-1][-2][0])

#Slicing
print(t[1:3])
print(t[-1::-1])
print(t[1:])

OpenAI
(8, 2)
((4.7, ('OpenAI', 'Ice'), True), 2, 8, 1)
(8, 2, (4.7, ('OpenAI', 'Ice'), True))

In [ ]:
#Editing the items in tuples

t=(1,5,3,8,1)
#Now, if we do like this 
t[2]=100
print(t)
#It will throw an error. Hence, it means tuples are immutable, just like strings

In [23]:
#We cannot add the items as well in the tuples. As again they are immutable

In [ ]:
#Deleting 
t_=(2,3,7,"Dream_11")
del(t_)
print(t_)
#When we will try to print t_, it will show an error that t_ is not defined, which means t_ has been
#successfully deleted.

In [32]:
#Operations in Tuples
#Arithmetic Operation

t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
#Addition works in tuples. While adding two tuples, the result is a new tuple. Because as we know tuples are 
#immutable. 

#Multiplication Opeartion
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
#Loops in tuples

t1=(1,2,3)
for i in t1:
    print(i)

1
2
3

In [34]:
t1=(1,2,3)
for i in t1[::-1]:
    print(i)

3
2
1

In [27]:
#Comparison Operation

t1=(1,2,3)
t2=(4,5,6)
t=()
print(t1>t2)
print(t1<t2)
print(t1==t2)
print(t1!=t2)

False
True
False
True

In [29]:
#Logical Operators
t1=(1,2,3)
t2=(4,5,6)
t=()
print(t1 and t2)
print(t1 and t)
print(t1 or t)
print(not t)
#Pyhton treats the empty tuple as False

(4, 5, 6)
()
(1, 2, 3)
True

In [31]:
#Membership Operators
t1=(1,2,3)
t2=(4,5,6)
t=(1,8,2,(4.7,("OpenAI","Ice"),True))

print(1 in t1)
print(5 in t2)
print(4.7 not in t)
print(8 not in t)

True
True
True
False

In [43]:
#Tuples function
#min/max, len, count, sort, sum
t=(1,8,2,4)
print(max(t))
print(min(t))

#Sum
print(sum(t))

8
1
15

In [44]:
#Count
t=(5,1,9,3,6,2,2,1)
t.count(9)

1

In [ ]:
#For finding the index value of an element
print(t.index(1))

In [47]:
#Sorted 
t=(7,2,9,8,10,1,4,4)
print(sorted(t,reverse=True))  #Sorted always convert the output into list format

[10, 9, 8, 7, 4, 4, 2, 1]

In [ ]:
#Difference between Lists and Tuples

#· Syntax - Same
#· Mutability - Lists are mutable and tuples are immutable
#· Speed - Tuples are faster as compared to lists
#· Memory - Tuples occupr less memory as compared to tuples
#. Built in functionality - Lists has a lot of build-in-functions
#· Error prone - List are more prone to errors as compared to tuples
#· Usability

In [52]:
#Speed - When its comes to speed tuples are faster as they are immutable datatypes
#Memory Consumption - Tuples occupy less space as compared to Lists.


import sys

L=list(range(1,10000))
t=tuple(range(1,10000))
print(sys.getsizeof(L))   #It is used to check the memory size 
print(sys.getsizeof(t))

80056
80032

In [51]:
print(list(range(1,10)))
print(tuple(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [53]:
#Tuples unpacking 

a,b,c=(1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [ ]:
a,b=(1,2,3)
#This will throw an error as too many values to unpack

In [56]:
#In order to avoid the above error
a,b,*other=(1,2,3,4,5,6)   #Use * to keep rest of the values in a single variable
print(a)
print(b)
print(other)

1
2
[3, 4, 5, 6]

In [54]:
#Swaping to numbers
a=2
b=3
a,b=b,a
print(a)
print(b)

3
2

In [61]:
#ZIP in Tuples
t1=(10,4,18)
t2=(2,9,7)
a=tuple(zip(t1,t2))
b=list(zip(t1,t2))
print(a)
print(b)

((10, 2), (4, 9), (18, 7))
[(10, 2), (4, 9), (18, 7)]

In [65]:
#Tuple comprehension does not exist. It is generators with ().
t=(t**2 for i in range(1,5))
print(t)

<generator object <genexpr> at 0x00000218A5DD3370>

In [ ]:
#Sets

#A set is an unordered collection of items. Every set element is unique (no duplicates) 
#and must be immutable (cannot be changed).However, a set itself is mutable. We can add 
#or remove items from it. Sets can also be used to perform mathematical set operations like union, 
#intersection, symmetric difference, etc.

#Characterstics:

#· Unordered
#· Mutable
#· No Duplicates
#. Can't contain mutable data types

In [70]:
#Empty set
a={}     #Python treats empty {} as a dictionary by default.
print(type(a))
print(type(set(a)))  #Type conversion is a way to create an empty set
#1D set
a={1,3,5,6,4,1}
print(a)
#2D and 3D sets are not allowed as the sets itself are mutables and mutable datatypes are not allowed in sets.
#Hetrogenous 
a={1,"Hello",3.5,5+6j,True}   #The result won't show the true becuase python treats true as 1 and duplicates are
#not allowed in python.
print(a)

<class 'dict'>
<class 'set'>
{1, 3, 4, 5, 6}
{1, 'Hello', 3.5, (5+6j)}

In [73]:
s={5,1,"True",1,2,"Work"}
print(s) 
#As we can see the order is not correct, because the sets are unordered collection of items. 
#In sets, the ordering of items happens because of hashing.

{1, 2, 5, 'True', 'Work'}

In [75]:
#Using type conversion
L=[3,1,6,6,4,1]
print(set(L))

#Only immutable datatypes are allowed 
s={5,2,9,(6,6,1,8)} #As tuples are immutable, only tuples are allowed
print(s)

{1, 3, 4, 6}
{9, 2, 5, (6, 6, 1, 8)}

In [77]:
#Important concept

s1={1,2,3}
s2={3,1,2}
print(s1==s2)
#The reason is sets are unordered collection of data. In sets order doesn't matter. Hence, == operator
#only comapres the elemets not the order.

True

In [ ]:
#Slicing and Indexing
s={4,2,5,7}
print(s[2]) # If I do this it will give me an error, as indexing and slicing are not allowed in sets. Because
#indexing and slicing depend upon index and as sets are inordered. Hence, we don't have any indexing

In [85]:
#Adding the items in the sets.
s={1,2,3,4}
s.add(10)
print(s)

#Updating the set 
s1={100,200,300}
s.update(s1)
print(s)

{1, 2, 3, 4, 10}
{1, 2, 3, 4, 100, 200, 10, 300}

In [87]:
s={1,2,3,4}
L=[1,5,8,11,15]
s.update(L)
print(s)

{1, 2, 3, 4, 5, 8, 11, 15}

In [90]:
#Discard
s={1,200,300,400}
s.discard(300)
print(s)

{200, 1, 400}

In [92]:
#Clear
s={1,200,300,400}
s.clear()
print(s)

set()

In [94]:
#Remove
s={1,200,300,400}
s.remove(200)
print(s)

{1, 300, 400}

In [99]:
#Pop
s={1,200,300,400}
s.pop()     #pop will remove random number as we don't have a control over it. It is based on Hashing 
#Also, pop in sets does not take any argument.
print(s)

{1, 300, 400}

In [110]:
#Set operations
#Arithmetic operation (We cannot perform it)
#Comparison Operation (Comparison operators also doesn't perfrom well)
#Bitwise Operators (Doesn't work)
#Logical Operators

s1={1,2,5,6}
s2={1,9,3,10}
s=set()
print(s1 and s2)
print(s1 and set())
print(s1 or set())   #As 1 or 0 is = 1
print(not set())

{1, 10, 3, 9}
set()
{1, 2, 5, 6}
True

In [109]:
#Membership operators
s1={1,2,5,6}
s2={1,9,3,10}
print(1 in s1)
print(11 in s2)
print(11 not in s1)

True
False
True

In [127]:
#Sets in-build Operations

#Union (|)
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [128]:
#Intersection (&)
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.intersection(s2))
print(s1 & s2)

{3, 4}
{3, 4}

In [129]:
#Difference (-)
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.difference(s2))
print(s1 - s2)

{1, 2}
{1, 2}

In [119]:
#Difference Update
s1={1,2,3,4}
s2={3,4,5,6}

s1.difference_update(s2)  #It updates the set, by removing the elements found in another set.
print(s1)

{1, 2}

In [130]:
#Symmetric Difference (^)
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 2, 5, 6}
{1, 2, 5, 6}

In [122]:
#Symmetric difference update
s1={1,2,3,4}
s2={3,4,5,6}

s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 5, 6}

In [126]:
#Loop in Sets
s1={1,2,3,4,11,10,"Hello"}
for i in s1:
    print(i)

#Although we can use loops in sets but the order is not in our control

1
2
3
4
Hello
10
11

In [132]:
#Set functions
#len, min/max, sorted, sum

s1={1,2,3,4}
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1,reverse=True))   #Sorted function does not get affected by hashing problem

4
10
1
4
[4, 3, 2, 1]

In [134]:
#issubset
s1={1,2,3,4}
s2={3,4,5,6,1,2}

print(s1.issubset(s2))

True

In [135]:
#issuperset
s1={1,2,3,4}
s2={3,4,5,6}

print(s1.issuperset(s2))

False

In [137]:
#isdisjoint
s1={1,2}
s2={3,4,5,6}

print(s1.isdisjoint(s2))  #Returns True if both the sets has nothing in common

True

In [139]:
#Copy
s1={11,22,33,44}
s2=s1.copy()
print(s2)

{33, 11, 44, 22}

In [146]:
#Frozenset
#Frozen set is just an immutable version of a Python set object.

s1={2,1,5,6,3}
a1=frozenset(s1)
print(a)

#OR
a2=frozenset([2,1,3,4])
print(a)

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4})

In [150]:
#In frozen set we can still perform the set methods

print(a1 | a2)
print(a1 & a2)
print(a1 - a2)
print(a1 ^ a2)

frozenset({1, 2, 3, 4, 5, 6})
frozenset({1, 2, 3})
frozenset({5, 6})
frozenset({4, 5, 6})

In [152]:
#Frozenset can be used to create a 2D set, which is not possible using normal sets.
a=frozenset([1,2,frozenset([6,5])])   #A set havig a set inside. It is possible because 
#the frozen sets are immutable. 
print(a)
print(type(a))

frozenset({frozenset({5, 6}), 1, 2})
<class 'frozenset'>

In [153]:
#Set Comprehension

s={i for i in range(1,10) if i%2==0}
print(s)

{8, 2, 4, 6}